# SIMULACION LINEA DE ESPERA

## Calcular Linea Espera

In [1]:
landa = 1.3333
nu = 4.0
#La probabilidad de hallar el sistema ocupado o utilizaci√≥n del sistema:
ùëù=landa/nu
#La probabilidad de que no haya unidades en el sistema este vac√≠a u ocioso :
ùëÉo = 1.0 - (landa/nu)
#Longitud esperada en cola, promedio de unidades en la l√≠nea de espera:
ùêøùëû = landa*landa / (nu * (nu - landa))
#/ (nu * (nu - landa))
# N√∫mero esperado de clientes en el sistema(cola y servicio) :
ùêø = landa /(nu - landa)
#El tiempo promedio que una unidad pasa en el sistema:
ùëä = 1 / (nu - landa)
#Tiempo de espera en cola:
ùëäùëû = W - (1.0 / nu)
print (Wq)
#La probabilidad de que haya n unidades en el sistema:
n= 1
ùëÉùëõ = (landa/nu)*ùëõ*ùëÉùëú

0.12499531255859303

In [2]:
print ("landa:",round(landa,3))
print ( "nu: ",nu)
print ( "Po: ",round(Po,3))
print ( "Lq: ",round(Lq,3))
print ("L: ",round(L,1))
print ("W: " ,round(W,3))
print ("Wq:",round(Wq,3))
print ("Pn:",round(Pn,3))

landa: 1.333
nu:  4.0
Po:  0.667
Lq:  0.167
L:  0.5
W:  0.375
Wq: 0.125
Pn: 0.222

In [4]:
# Simulacion
import math, random
import pandas as pd
import numpy as np
import matplotlib as plt
i = 0
# Landa y nu ya definidos
# Atributos del DataFrame
"""
ALL # ALEATORIO DE LLEGADA DE CLIENTES
ASE # ALEATORIO DE SERVICIO
TILL TIEMPO ENTRE LLEGADA
TISE TIEMPO DE SERVICIO
TIRLL TIEMPO REAL DE LLEGADA
TIISE TIEMPO DE INICIO DE SERVICIO
TIFSE TIEMPO FINAL DE SERVICIO
TIESP TIEMPO DE ESPERA
TIESA TIEMPO DE SALIDA
numClientes NUMERO DE CLIENTES
dfLE DATAFRAME DE LA LINEA DE ESPERA
"""
numClientes=10
i = 0
indice = ['ALL','ASE','TILL','TISE','TIRLL','TIISE','TIFSE','TIESP','TIESA']
Clientes = np.arange(numClientes)
dfLE = pd.DataFrame(index=Clientes, columns=indice).fillna(0.000)
np.random.seed(100)
for i in Clientes:
    if i == 0:
            dfLE['ALL'][i] = random.random()
            dfLE['ASE'][i] = random.random()
            dfLE['TILL'][i] = -landa*np.log(dfLE['ALL'][i])
            dfLE['TISE'][i] = -nu*np.log(dfLE['ASE'][i])
            dfLE['TIRLL'][i] = dfLE['TILL'][i]
            dfLE['TIISE'][i] = dfLE['TIRLL'][i]
            dfLE['TIFSE'][i] = dfLE['TIISE'][i] + dfLE['TISE'][i]
            dfLE['TIESA'][i] = dfLE['TIESP'][i] + dfLE['TISE'][i]
    else:
            dfLE['ALL'][i] = random.random()
            dfLE['ASE'][i] = random.random()
            dfLE['TILL'][i] = -landa*np.log(dfLE['ALL'][i])
            dfLE['TISE'][i] = -nu*np.log(dfLE['ASE'][i])
            dfLE['TIRLL'][i] = dfLE['TILL'][i] + dfLE['TIRLL'][i-1]
            dfLE['TIISE'][i] = max(dfLE['TIRLL'][i],dfLE['TIFSE'][i-1])
            dfLE['TIFSE'][i] = dfLE['TIISE'][i] + dfLE['TISE'][i]
            dfLE['TIESP'][i] = dfLE['TIISE'][i] - dfLE['TIRLL'][i]
            dfLE['TIESA'][i] = dfLE['TIESP'][i] + dfLE['TISE'][i]
nuevas_columnas = pd.core.indexes.base.Index(["A_LLEGADA","A_SERVICIO","TIE_LLEGADA","TIE_SERVICIO",
                                            "TIE_EXACTO_LLEGADA","TIE_INI_SERVICIO","TIE_FIN_SERVICIO",
                                            "TIE_ESPERA","TIE_EN_SISTEMA"])
dfLE.columns = nuevas_columnas
dfLE

,A_LLEGADA,A_SERVICIO,TIE_LLEGADA,TIE_SERVICIO,TIE_EXACTO_LLEGADA,TIE_INI_SERVICIO,TIE_FIN_SERVICIO,TIE_ESPERA,TIE_EN_SISTEMA
0,0.046983,0.363747,4.077191,4.045185,4.077191,4.077191,8.122377,0.000000,4.045185
1,0.552250,0.366162,0.791652,4.018722,4.868843,8.122377,12.141098,3.253533,7.272255
2,0.858608,0.686622,0.203252,1.503885,5.072095,12.141098,13.644983,7.069003,8.572888
3,0.411396,0.793057,1.184235,0.927442,6.256330,13.644983,14.572425,7.388653,8.316095
4,0.696152,0.110367,0.482904,8.815773,6.739234,14.572425,23.388197,7.833191,16.648963
5,0.087807,0.409689,3.243408,3.569427,9.982642,23.388197,26.957625,13.405555,16.974983
6,0.824990,0.394664,0.256506,3.718877,10.239148,26.957625,30.676502,16.718477,20.437354
7,0.772024,0.030044,0.344978,14.020428,10.584125,30.676502,44.696930,20.092377,34.112805
8,0.477763,0.257881,0.984831,5.421030,11.568956,44.696930,50.117960,33.127974,38.549004
9,0.662288,0.585399,0.549392,2.141845,12.118349,50.117960,52.259805,37.999611,40.141456

In [5]:
dfLE.plot()

In [6]:
dfLE.describe()

,A_LLEGADA,A_SERVICIO,TIE_LLEGADA,TIE_SERVICIO,TIE_EXACTO_LLEGADA,TIE_INI_SERVICIO,TIE_FIN_SERVICIO,TIE_ESPERA,TIE_EN_SISTEMA
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,0.539026,0.399763,1.211835,4.818261,8.150691,22.839529,27.657790,14.688837,19.507099
std,0.287518,0.239108,1.342382,3.920250,3.045737,15.407421,16.390609,12.575289,13.542940
min,0.046983,0.030044,0.203252,0.927442,4.077191,4.077191,8.122377,0.000000,4.045185
25%,0.427988,0.284347,0.379459,2.498740,5.368154,12.517069,13.876843,7.148915,8.380293
50%,0.607269,0.380413,0.670522,3.868799,8.360938,18.980311,25.172911,10.619373,16.811973
75%,0.753056,0.541472,1.134384,5.077069,10.497881,29.746783,41.191823,19.248902,30.693942
max,0.858608,0.793057,4.077191,14.020428,12.118349,50.117960,52.259805,37.999611,40.141456